.sidenav {
  min-width: 200px;
  max-width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.1);
  background-color: #fafafa;
  
  .sidenav-content{
    padding: 10px 0;

    a{
      .mat-icon{
        margin-right: 15px;
      }
    }
  }
}
.mat-drawer-content {
  overflow: hidden;
}

#toolbar{
  position: fixed;
  z-index: 99;
  height: 64px;

  #menu-button {
    margin-right: 10px;
  }
  .app-title{
    margin: 0 10px;
  }
  
  a{
    text-decoration: none;
    &:hover, &.active{
      color: black;
    }
  }
}

.container-fluid{
  background-color: #d3d3d3;
  padding-top: 78px;
  padding-bottom: 25px;
  min-height: 500px;
}