<form #f='ngForm' (ngSubmit)='onSubmit(f)'>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Add combo</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class='add-products row'>
        <div class="col-12">
          <h3>Add products</h3>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-8 col-lg-6 col-xl-4">
              <mat-form-field>
                <input type="number" placeholder="Price" matInput [formControl]='priceCtrl'>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12" *ngIf='allCategories'>
          <div class="row">
            <div class="col-12 col-sm-8 col-lg-6 col-xl-4">
              <!-- Categories input -->
              <mat-form-field>
                <input type="text" placeholder="Categories" matInput [formControl]="categoryCtrl" [matAutocomplete]="categoryAuto">
                <mat-autocomplete #categoryAuto="matAutocomplete" [displayWith]="displayCategoryFn" (optionSelected)='filterProductsByCategory($event.option.value.name)'>
                  <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                    {{ category.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <ng-container *ngIf='allProducts  && allProductsByCategory; else loadingProducts'>

            <div class="row">
              <div class="col-12 col-sm-10">
                <!-- product input -->
                <mat-form-field>
                  <input type="text" placeholder="Search for a product" matInput [formControl]="productCtrl" [matAutocomplete]="auto" required>
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProductFn">
                    <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                      {{product.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="col-12 col-sm-2">
                <!-- Amount input -->
                <mat-form-field>
                  <input type="number" placeholder='Amount' matInput [formControl]='amountCtrl' min='1'>
                </mat-form-field>
              </div>
              <!-- PRODUCT PREVIEW -->
              <div class="col-12" *ngIf='productCtrl.value as previewProduct'>
                <div class="text-center">
                  <img [src]="previewProduct.imageURL | viewImage" [alt]="previewProduct.name" class="img-fluid">
                </div>
                <p>
                  <b>Price</b> : {{ previewProduct.price | currency }}</p>
                <p>
                  <b>Cost </b>: {{ previewProduct.cost | currency }}</p>
                <p>
                  <b>Subtotal </b> : {{ (previewProduct.price * amountCtrl?.value) | currency }}</p>
              </div>
              <div class="col-12">
                <!-- add product button -->
                <button type="button" mat-button [disabled]='productCtrl?.invalid || amountCtrl?.invalid' (click)='addItem(productCtrl.value, amountCtrl.value)'>Add product</button>
              </div>
            </div>
          </ng-container>
          <ng-template #loadingProducts>
            <mat-spinner class="col-12 mx-auto"></mat-spinner>
          </ng-template>
        </div>
        <div class="col-12 col-md-6">
          <h6>Added products</h6>
          <div class='table-container' *ngIf='items.length;else noItems'>
            <!-- ADDED PRODUCTS TABLE -->
            <table mat-table [dataSource]="itemsSource" class="mat-elevation-z0">

              <!-- ID Column -->
              <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                  </ng-container> -->

              <!-- Product name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
              </ng-container>

              <!-- Product cost Column -->
              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Cost </th>
                <td mat-cell *matCellDef="let element"> {{element.product.cost | currency }} </td>
              </ng-container>

              <!-- Product amount Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount }} </td>
              </ng-container>

              <!-- Product subtotal Column -->
              <ng-container matColumnDef="subtotal">
                <th mat-header-cell *matHeaderCellDef> Subtotal </th>
                <td mat-cell *matCellDef="let element"> {{ (element.product.price * element.amount) | currency }} </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element; let i=index">
                  <button mat-button type='button' (click)='removeItem(i)'>Delete</button>
                </td>
              </ng-container>

              <!-- Subtotal label column -->
              <ng-container matColumnDef="allSubtotal-label">
                <td mat-footer-cell *matFooterCellDef colspan="4" class='text-right pr-3'>
                  <b>Subtotal</b>
                </td>
              </ng-container>

              <!-- Subtotal column -->
              <ng-container matColumnDef="allSubtotal">
                <td mat-footer-cell *matFooterCellDef colspan="2" class='text-left pl-2'>
                  <b>{{subtotal | currency }}</b>
                </td>
              </ng-container>

              <!-- Tax label column -->
              <ng-container matColumnDef="tax-label">
                <td mat-footer-cell *matFooterCellDef colspan="4" class='text-right pr-3'>
                  <b>Tax</b>
                </td>
              </ng-container>

              <!-- Tax column -->
              <ng-container matColumnDef="tax">
                <td mat-footer-cell *matFooterCellDef colspan="2" class='text-left pl-2'>
                  <b>{{tax | currency }}</b>
                </td>
              </ng-container>

              <!-- Total label column -->
              <ng-container matColumnDef="total-label">
                <td mat-footer-cell *matFooterCellDef colspan="4" class='text-right pr-3'>
                  <b>Total</b>
                </td>
              </ng-container>

              <!-- Total column -->
              <ng-container matColumnDef="total">
                <td mat-footer-cell *matFooterCellDef colspan="2" class='text-left pl-2'>
                  <b>{{total | currency }}</b>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="['allSubtotal-label','allSubtotal']"></tr>
              <tr mat-footer-row *matFooterRowDef="['tax-label','tax']"></tr>
              <tr mat-footer-row *matFooterRowDef="['total-label','total']"></tr>
            </table>
          </div>
          <ng-template #noItems>
            <h6>You've not added products to this combo :(</h6>
          </ng-template>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button type='submit' [disabled]='f.invalid || f.submitted'>Submit</button>
      <button mat-button type='button' routerLink='../' [disabled]='f.submitted'>Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>