.img-fluid{
  max-height:250px;
}
.mat-column-name {
  width: 40%;
}
.mat-column-price {
  width: 15%;
}
.mat-column-cost {
  width: 15%;
}
.mat-column-amount {
  width: 10%;
}
.mat-column-actions {
  width: 20%;
}
.mat-table{
  min-width: 400px;
}
