.mat-column-id {
  width: 5%;
  overflow-wrap: break-word;
}
.mat-column-name {
  width: 20%;
}
.mat-column-description {
  width: 40%;
}
.mat-column-actions {
  width: 20%;
}
.mat-table{
  min-width: 700px;
}