.img-fluid{
  height: 250px;
}
.mat-column-name {
  width:20%;
}
.mat-column-price {
  width:15%;
}
.mat-column-cost{
  width:15%;
}
.mat-column-category{
  width:15%;
}
.mat-column-imageURL{
  width:20%;
  text-align: center;
}
.mat-column-actions {
  width:15%;
}
.mat-table{
  min-width: 700px;
}